<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basics-of-a-Jupyter-Notebook---ipynb-files" data-toc-modified-id="Basics-of-a-Jupyter-Notebook---ipynb-files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basics of a Jupyter Notebook - ipynb files</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#What-are-Jupyter-Notebooks?" data-toc-modified-id="What-are-Jupyter-Notebooks?-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>What are Jupyter Notebooks?</a></span></li><li><span><a href="#Jupyter-Notebook-Features" data-toc-modified-id="Jupyter-Notebook-Features-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Jupyter Notebook Features</a></span></li><li><span><a href="#What-is-Markdown?" data-toc-modified-id="What-is-Markdown?-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>What is Markdown?</a></span></li></ul></li></ul></li><li><span><a href="#H1" data-toc-modified-id="H1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>H1</a></span><ul class="toc-item"><li><span><a href="#H2" data-toc-modified-id="H2-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>H2</a></span><ul class="toc-item"><li><span><a href="#H3" data-toc-modified-id="H3-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>H3</a></span><ul class="toc-item"><li><span><a href="#H4" data-toc-modified-id="H4-2.1.1.1"><span class="toc-item-num">2.1.1.1&nbsp;&nbsp;</span>H4</a></span></li></ul></li><li><span><a href="#Kernels,-Variables,-and-Environment" data-toc-modified-id="Kernels,-Variables,-and-Environment-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Kernels, Variables, and Environment</a></span></li><li><span><a href="#Command-vs.-Edit-Mode-&amp;-Shortcuts" data-toc-modified-id="Command-vs.-Edit-Mode-&amp;-Shortcuts-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Command vs. Edit Mode &amp; Shortcuts</a></span><ul class="toc-item"><li><span><a href="#Additional-Shortcuts" data-toc-modified-id="Additional-Shortcuts-2.1.3.1"><span class="toc-item-num">2.1.3.1&nbsp;&nbsp;</span>Additional Shortcuts</a></span></li></ul></li><li><span><a href="#How-do-you-install-Jupyter-Notebooks?" data-toc-modified-id="How-do-you-install-Jupyter-Notebooks?-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>How do you install Jupyter Notebooks?</a></span></li></ul></li></ul></li><li><span><a href="#Python-Basics" data-toc-modified-id="Python-Basics-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Python Basics</a></span><ul class="toc-item"><li><span><a href="#Numbers" data-toc-modified-id="Numbers-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Numbers</a></span><ul class="toc-item"><li><span><a href="#Basic-Arithmetic-Operations" data-toc-modified-id="Basic-Arithmetic-Operations-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Basic Arithmetic Operations</a></span></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Variables</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Lists" data-toc-modified-id="Lists-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Operations" data-toc-modified-id="Operations-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Operations</a></span><ul class="toc-item"><li><span><a href="#Numeric-operations" data-toc-modified-id="Numeric-operations-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>Numeric operations</a></span></li><li><span><a href="#List-Operations" data-toc-modified-id="List-Operations-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>List Operations</a></span><ul class="toc-item"><li><span><a href="#List-Concatenation,-Replication-and-Length" data-toc-modified-id="List-Concatenation,-Replication-and-Length-3.6.2.1"><span class="toc-item-num">3.6.2.1&nbsp;&nbsp;</span>List Concatenation, Replication and Length</a></span></li><li><span><a href="#The-range-function" data-toc-modified-id="The-range-function-3.6.2.2"><span class="toc-item-num">3.6.2.2&nbsp;&nbsp;</span>The <code>range</code> function</a></span></li><li><span><a href="#List-Sorting" data-toc-modified-id="List-Sorting-3.6.2.3"><span class="toc-item-num">3.6.2.3&nbsp;&nbsp;</span>List Sorting</a></span></li><li><span><a href="#List-Slicing" data-toc-modified-id="List-Slicing-3.6.2.4"><span class="toc-item-num">3.6.2.4&nbsp;&nbsp;</span>List Slicing</a></span></li><li><span><a href="#Replace,-insert,-and-remove-elements-from-a-list" data-toc-modified-id="Replace,-insert,-and-remove-elements-from-a-list-3.6.2.5"><span class="toc-item-num">3.6.2.5&nbsp;&nbsp;</span>Replace, insert, and remove elements from a list</a></span></li><li><span><a href="#Lists-and-Math" data-toc-modified-id="Lists-and-Math-3.6.2.6"><span class="toc-item-num">3.6.2.6&nbsp;&nbsp;</span>Lists and Math</a></span></li></ul></li><li><span><a href="#String-Operations" data-toc-modified-id="String-Operations-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>String Operations</a></span><ul class="toc-item"><li><span><a href="#String-Slicing" data-toc-modified-id="String-Slicing-3.6.3.1"><span class="toc-item-num">3.6.3.1&nbsp;&nbsp;</span>String Slicing</a></span></li><li><span><a href="#String-split" data-toc-modified-id="String-split-3.6.3.2"><span class="toc-item-num">3.6.3.2&nbsp;&nbsp;</span>String <code>split</code></a></span></li><li><span><a href="#String-operations" data-toc-modified-id="String-operations-3.6.3.3"><span class="toc-item-num">3.6.3.3&nbsp;&nbsp;</span>String operations</a></span></li><li><span><a href="#String-methods" data-toc-modified-id="String-methods-3.6.3.4"><span class="toc-item-num">3.6.3.4&nbsp;&nbsp;</span>String methods</a></span></li><li><span><a href="#String-formatting-using-print()" data-toc-modified-id="String-formatting-using-print()-3.6.3.5"><span class="toc-item-num">3.6.3.5&nbsp;&nbsp;</span>String formatting using print()</a></span></li></ul></li></ul></li><li><span><a href="#Control-Structures" data-toc-modified-id="Control-Structures-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Control Structures</a></span><ul class="toc-item"><li><span><a href="#Selection-by-conditionals" data-toc-modified-id="Selection-by-conditionals-3.7.1"><span class="toc-item-num">3.7.1&nbsp;&nbsp;</span>Selection by conditionals</a></span><ul class="toc-item"><li><span><a href="#if" data-toc-modified-id="if-3.7.1.1"><span class="toc-item-num">3.7.1.1&nbsp;&nbsp;</span><code>if</code></a></span></li><li><span><a href="#if---else" data-toc-modified-id="if---else-3.7.1.2"><span class="toc-item-num">3.7.1.2&nbsp;&nbsp;</span><code>if</code> - <code>else</code></a></span></li><li><span><a href="#if---elif-and-if---elif----else" data-toc-modified-id="if---elif-and-if---elif----else-3.7.1.3"><span class="toc-item-num">3.7.1.3&nbsp;&nbsp;</span><code>if</code> - <code>elif</code> and <code>if</code> - <code>elif</code>  - <code>else</code></a></span></li></ul></li><li><span><a href="#Repetition" data-toc-modified-id="Repetition-3.7.2"><span class="toc-item-num">3.7.2&nbsp;&nbsp;</span>Repetition</a></span><ul class="toc-item"><li><span><a href="#For-loop" data-toc-modified-id="For-loop-3.7.2.1"><span class="toc-item-num">3.7.2.1&nbsp;&nbsp;</span><code>For</code> loop</a></span></li><li><span><a href="#while-Loop" data-toc-modified-id="while-Loop-3.7.2.2"><span class="toc-item-num">3.7.2.2&nbsp;&nbsp;</span><code>while</code> Loop</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#User-defined-Functions" data-toc-modified-id="User-defined-Functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>User-defined Functions</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Putting-it-all-together:-Pig-Latin" data-toc-modified-id="Putting-it-all-together:-Pig-Latin-4.0.0.1"><span class="toc-item-num">4.0.0.1&nbsp;&nbsp;</span>Putting it all together: Pig Latin</a></span></li></ul></li></ul></li></ul></li></ul></div>

Table of Contents:
- Basics of a Jupyter Notebook
- Python Basics
  - Numbers
  - Variables
  - Strings
  - Lists
  - Tuples
  - Operations
  - Control Structures
- User-defined Functions

# Basics of a Jupyter Notebook - ipynb files

### What are Jupyter Notebooks?

Jupyter is a web-based interactive development environment that supports multiple programming languages, however most commonly used with the Python programming language.

The interactive environment that Jupyter provides enables students, scientists, and researchers to create reproducible analysis and formulate a story within a single document.

Lets take a look at an example of a completed Jupyter Notebook: [Example Notebook](http://nbviewer.jupyter.org/github/cossatot/lanf_earthquake_likelihood/blob/master/notebooks/lanf_manuscript_notebook.ipynb)

### Jupyter Notebook Features

* File Browser
* Markdown Cells & Syntax
* Kernels, Variables, & Environment
* Command vs. Edit Mode & Shortcuts

### What is Markdown?

Markdown is a markup language that uses plain text formatting syntax.  This means that we can modify the formatting our text with the use of various symbols on our keyboard as indicators.

Some examples include:

* Headers
* Text modifications such as italics and bold
* Ordered and Unordered lists
* Links
* Tables
* Images
* Etc.

Now I'll showcase some examples of how this formatting is done:

Headers:

# H1
## H2
### H3
#### H4
##### H5
###### H6

Text modifications:

Emphasis, aka italics, with *asterisks* or _underscores_.

Strong emphasis, aka bold, with **asterisks** or __underscores__.

Combined emphasis with **asterisks and _underscores_**.

Strikethrough uses two tildes. ~~Scratch this.~~

Lists:

1. First ordered list item
2. Another item
  * Unordered sub-list. 
1. Actual numbers don't matter, just that it's a number
  1. Ordered sub-list
4. And another item.

* Unordered list can use asterisks
- Or minuses
+ Or pluses

### Kernels, Variables, and Environment

A notebook kernel is a “computational engine” that executes the code contained in a Notebook document. There are kernels for various programming languages, however we are solely using the python kernel which executes python code.

When a notebook is opened, the associated kernel is automatically launched for our convenience.

In [1]:
### This is python
print("This is a python code cell")

This is a python code cell

A kernel is the back-end of our notebook which not only executes our python code, but stores our initialized variables.

It is important to note that Jupyter Notebooks have in-line cell execution.  This means that a prior executing cell must complete its operations prior to another cell being executed.  A cell still being executing is indicated by the [*] on the left-hand side of the cell.

In [2]:
print("This won't print until all prior cells have finished executing.")

This won't print until all prior cells have finished executing.

### Command vs. Edit Mode & Shortcuts

There is an edit and a command mode for jupyter notebooks.  The mode is easily identifiable by the color of the left border of the cell.

Blue = Command Mode.

Green = Edit Mode.

Command Mode can be toggled by pressing **esc** on your keyboard.

Commands can be used to execute notebook functions.  For example, changing the format of a markdown cell or adding line numbers.

Lets toggle line numbers while in command mode by pressing **L**.

#### Additional Shortcuts

There are a lot of shortcuts that can be used to improve productivity while using Jupyter Notebooks.

Here is a list:

![Jupyter Notebook Shortcuts](https://media.cheatography.com/storage/thumb/weidadeyue_jupyter-notebook.750.jpg?last=1462914889)

### How do you install Jupyter Notebooks?

Official Installation Guide: https://jupyter.readthedocs.io/en/latest/install.html

Jupyter recommends utilizing Anaconda, which is a platform compatible with Windows, macOS, and Linux systems.  

Anaconda Download: https://www.anaconda.com/download/#macos

# Python Basics

## Numbers

Python has 4 types of numbers:
*   Integers
*   Floating point (Decimals or exponential notation)
*   Complex (Imaginary Numbers) 
*   Booleans

In [3]:
# Here are a few examples of each data number type in Python
True # Boolean
False # Boolean
37 # Integer 
-2993929937277166 # Integer
2.1 # Float
-6.3456 #Float

-6.3456

> Note that when running a notebook cell, it will only show the last statement. To inspect all of them, use the `print()` function

In [4]:
# Here are a few examples of each data number type in Python
print(True) # Boolean
print(False) # Boolean
print(37) # Integer 
print(-2993929937277166) # Integer
print(2.1) # Float
print(-6.3456) #Float

True
False
37
-2993929937277166
2.1
-6.3456

### Basic Arithmetic Operations

There are common operations that can be done in Python which follows basic math principles. Take note of the PEMDAS rule!

In [5]:
1 + 1 # because Python ignores whitespace, "1+1" may work but is not encouraged

2

In [6]:
1 + 2 * 3     # * has precedence over +

7

In [7]:
print((1 + 2) * 3)
print(8 - 6)

9
2

Python arithmetic distinguishes whole numbers or integers from those with decimals, called float numbers.
See how this plays out, especially in division.

In [8]:
print(17 / 3)     # int / int -> float
print(17 // 3)    # floor division/integer division
print(17.0 // 3)  # return float if one of the values is float 
print(17 % 3)     # remainder
print(2 ** 7)     # 2 to the power of 7

5.666666666666667
5
5.0
2
128

Common Arithmetic Operations:

In [9]:
x = 0
y = 1
x + y      #Add
x - y      #Subtract
x * y      #Multiply
x / y      #Divide
x // y     #Floor Divide
x % y      #Modulo
x ** y     #Power
abs(x)     #Absolute Value

0

## Variables

> **Variables** are containers to store values. Variables are declared to avoid having to re-type a long expression, or to keep a value so the computer doesn’t have to recompute it.

In [10]:
# In the cell above notice we declared the following:
x = 0 # the variable x is assigned the value of 0
y = 1

The equal sign "=" is used to assign a value to a variable.

In [11]:
first_example = 4/2 # no output since we are assigning it to variable first_example

In [12]:
print(first_example)

2.0

**Naming convention**

- Variable names in Python should start with letters, and can contain any number of letters, digits, and  _.

- Python names are case sensitive.  This applies both to variable names and to function names imported from modules.

- By convention, Python variables usually start with lower-case letters. 

- Variables should have descriptive names; for multi-word names, separate the words by underscores.

 - Good names:  initial_price, my_income_tax, discounted_price2
 
 - One-letter names are used in certain circumstances - e.g. i, j, k when used as indexes - but are otherwise frowned upon.
 
- Certain words are not allowed to be variable names. These words are reserved as python built-in functions \
They will show up as green bold-faced text as soon as you type them (e.g. if, try, while)

In [13]:
double_this = 3 * 2 # it is possible to assign expressions into variables
print(first_example * double_this)

12.0

## Strings

Python can also do operations using text as input. In programming, a sequence of characters or a chunck of text is called a **string**.

A string is written using either single quotes `'text'` or double quotes `"text"`. When you use single quotes, you will need to add a `\` for words that require an apostrophe.

In [14]:
# Single quote
string1 = 'Yeah but no but yeah but...'

# Double quote
string2 = "computer says no"

When you use single quotes, you will need to add the escape character `\` for words that require an apostrophe. Therefore it is better to use double quotes when your string contains an apostrophe.

In [15]:
string3 = 'Hello, everything\'s fine!'
print(string3)

string4 = "Hello, everything's fine!"
print(string4)

Hello, everything's fine!
Hello, everything's fine!

Normally strings may only span a single line. **Triple quotes** capture all text enclosed across multiple lines including all formatting.

There is no difference between using single (‘) versus double (“) quotes - but do take note of the caveats mentioned above. *However, the same type of quote used to start a string must be used to terminate it.*

In [16]:
# Triple quotes
c = '''
Look into my eyes, look into my eyes, the eyes, the eyes, the eyes,
not around the eyes,
don't look around the eyes,
look into my eyes, you're under.
'''

In [17]:
c

"\nLook into my eyes, look into my eyes, the eyes, the eyes, the eyes,\nnot around the eyes,\ndon't look around the eyes,\nlook into my eyes, you're under.\n"

In [18]:
#Extra information [String escape codes]
'\n'      # Line feed
'\r'      # Carriage return
'\t'      # Tab
'\''      # Literal single quote
'\"'      # Literal double quote
'\\'      # Literal backslash

'\\'

You can also convert an integer or a float using the builtin command `str`

In [19]:
print(1) # integer
print(str(1)) # integer converted into string

1
1

## Lists

> Python’s primary type for holding an ordered collection of values are through **lists**.

*   Lists are *ordered* collections of values.
*   An **element** refers to an item in the list
*   Lists can contain any types of values, including numbers, strings or even another list

In [20]:
# Use square brackets to define a list and separate each element using a ,
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [21]:
# Example of a list containing other data types:
example_two = ["spam", ["foo"], 420, 1.1]
example_two

['spam', ['foo'], 420, 1.1]

In [22]:
# Empty lists can be declared also!
empty_list = []
empty_list

[]

## Tuples

Tuples are like lists but are immutable (meaning that the elements cannot be changed)

In [23]:
# Use the parenthsis to define a tuple and separate each element using a ,
tuple_one = (1, 2, 3, 4, 5)
print(tuple_one)

tuple_two = ("spam", ["foo"], 420, 1.1)
print(tuple_two)

(1, 2, 3, 4, 5)
('spam', ['foo'], 420, 1.1)

## Operations

### Numeric operations

Aside from the operations mentioned above, *comparisons (relational)* operators also work with numbers.

In [5]:
x = 0
y = 1
print(x < y)      # Less than
print(x <= y)     # Less than or equal
print(x > y)      # Greater than
print(x >= y)     # Greater than or equal
print(x == y)     # Equal to
print(x != y)     # Not equal to

True
True
False
False
False
True

The type name can also be used to convert values into the respective numeric data type:

In [13]:
a = int(x)
b = float(y)
print(a)
print(b)

0
1.0
<class 'bool'>

Note that the cells above returned Boolean `True` and `False`

Booleans also receive a special mention since there are special functions dedicated for it's usage: `and`, `or`, `not` known as Boolean operators

In [26]:
# and -- returns True if all operands are True
print(True and True)
print(False and True)
print(False and False)

True
False
False

In [27]:
# or -- returns True if at least one operand is True
print(True or True)
print(False or True)
print(False or False)

True
True
False

In [28]:
# not -- returns the opposite of what is given
print(not True)
print(not False)

False
True

**Bonus:** Refer to the documentation to find out more on the built-in library `math`

### List Operations

#### List Concatenation, Replication and Length

In [29]:
names = ["Monty", "Python", "Spam", "Eggs"]

Add a new item to your list using the `append()` method. <br>

In [30]:
names.append("Murphy") # Adds Murphy to the end of the list (i.e. Append)
names

['Monty', 'Python', 'Spam', 'Eggs', 'Murphy']

Combining lists together (i.e. concatenate) is done using the `+` operator

In [31]:
to_add = ["I am", "Running out of", "Jokes"]
combined_list = names + to_add
print(combined_list)

['Monty', 'Python', 'Spam', 'Eggs', 'Murphy', 'I am', 'Running out of', 'Jokes']

Replicate lists `n` times using the `*` operator.

In [32]:
n = 3
names * n

['Monty',
 'Python',
 'Spam',
 'Eggs',
 'Murphy',
 'Monty',
 'Python',
 'Spam',
 'Eggs',
 'Murphy',
 'Monty',
 'Python',
 'Spam',
 'Eggs',
 'Murphy']

Get the length of a list by using the `len()` function.

In [33]:
print(len(names))
print(len(names + to_add))

5
8

#### The `range` function

In [34]:
# The range function gives an object representing a list of integers. 
# To get the list itself cast the range object to a list as follows:

print(range(10)) # Returns a range object
print(list(range(10)))
print(list(range(10, 15)))
print(list(range(15, 10, -1)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]
[15, 14, 13, 12, 11]

#### List Sorting

The built-in functions `sorted()` and list method `.sort()` sorts lists.<br>
The function `sorted()` sorts the list returns a NEW list that is sorted while `.sort()` manipulates the original list to be rearranged.

In [35]:
# Sorted
a = [4, 3, 6, 2, 5]
print(sorted(a)) # The original list isn't changed
print(a)

# By default it is sorted by ascending
# Reversed order to sort by descending
print(sorted(a, reverse = True))

[2, 3, 4, 5, 6]
[4, 3, 6, 2, 5]
[6, 5, 4, 3, 2]

In [36]:
# .sort() 
b = [4, 3, 6, 2, 5] 
b.sort() # The original list is sorted in-place
print(b)

# By default it is sorted by ascending
# Reversed order to sort by descending
b.sort(reverse = True)
print(b)

[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

#### List Slicing

Get a single element of a list by providing a single integer number called index within brackets beside it. (e.g. `list[index]`)
<hr>

**NOTE:** The first element is usually at index 0 which is common convetion from coding (i.e. [0, 1, ...])

In [37]:
squares = [1, 4, 9, 16, 25]
print(squares[0]) # 1 
print(squares[3]) # 16 
print(squares[4]) # 25

1
16
25

Negative indices count from the end. The last element starts at index `-1`.

In [38]:
print(squares[-1]) # 25
print(squares[-2]) # 16
print(squares[-5]) # 1

25
16
1

You may also specify a range of elements to display by using the following syntax:

In [39]:
squares = [1, 4, 9, 16, 25]

print(squares[1:3]) # We always end BEFORE index b in a:b
print(squares[:3])
print(squares[2:])
print(squares[::-1])    # nifty way of reversing a list

[4, 9]
[1, 4, 9]
[9, 16, 25]
[25, 16, 9, 4, 1]

#### Replace, insert, and remove elements from a list

Using list slicing above, we can re-assign elements in a list using `=`

In [14]:
pokemon = ['bulbasaur', 'squirtle', 'charmander', 'pikachu']
print(pokemon[3]) # pikachu 

# single element replacement
pokemon[3] = 'togepi' # re-assigning the value at index 3 of the list
print(pokemon)

pikachu
['bulbasaur', 'squirtle', 'charmander', 'togepi']

In [41]:
# multiple element replacement
print(pokemon[:3]) # 'bulbasaur', 'squirtle', 'charmander'
pokemon[:3] = ['chikorita', 'totodile', 'cyndaquil'] # re-assining multiple elem
print(pokemon)

['bulbasaur', 'squirtle', 'charmander']
['chikorita', 'totodile', 'cyndaquil', 'togepi']

Use the list method `insert(i,e)` to insert element e in position i. (If i is out of bounds, it inserts it in the closest place it can.)

In [16]:
pokemon.insert(0,"mew") # inserts at index 0 
print(pokemon)
pokemon.insert(1, "jigglypuff")
print(pokemon)

['mew', 'mew', 'bulbasaur', 'squirtle', 'charmander', 'togepi']
['mew', 'jigglypuff', 'mew', 'bulbasaur', 'squirtle', 'charmander', 'togepi']

In [43]:
pokemon.insert(100,"sentret") # since 100 is out of bounds, it goes to the nearest
print(pokemon)

['mew', 'chikorita', 'totodile', 'cyndaquil', 'togepi', 'sentret']

Use the builtin method `del list[i]` to delete element at index i in the list IN PLACE.

In [44]:
del pokemon[-1] # deletes sentret 
print(pokemon)

['mew', 'chikorita', 'totodile', 'cyndaquil', 'togepi']

#### Lists and Math

*Caution: Lists were not designed for math operations.* <br>
Specifically, lists don’t represent vectors/matrices as in MATLAB, Octave, R, etc. However, there are some packages to help you with that (e.g. numpy).

In [45]:
nums = [1, 2, 3, 4, 5]
nums + [10, 11, 12, 13, 14] # Python detects this as list concatenating

[1, 2, 3, 4, 5, 10, 11, 12, 13, 14]

However, we can *aggregate* lists to return single values such as:
- **`sum()`**:  Take the sum of the numbers in a list
- **`max()`**, **`min()`**:  Take the maximum or minimum of the numbers in a list.  (This can also apply to strings, using lexicographic order. **READ**: <a href=https://www.cs.cmu.edu/~pattis/15-1XX/common/handouts/ascii.html>ASCII values</a>)

In [46]:
print(sum(nums))
print(max(nums))

15
5

### String Operations

#### String Slicing

Strings work like an *array* (e.g. lists) for for accessing individual characters. You use an integer index, starting at 0. Negative indices specify a position relative to the end of the string.

In [17]:
a = 'Hello world'
b = a[0]          # 'H'
c = a[4]          # 'o'
d = a[-1]         # 'd' (end of string)
e = a[-2]

l

You can also slice or select substrings specifying a range of indices with `:`.

In [48]:
d = a[:5]     # 'Hello'
e = a[6:]     # 'world'
f = a[3:8]    # 'lo wo'
g = a[-5:]    # 'world'

However, unlike lists, strings are read-only so it we cannot reassign values using string slicing.

In [50]:
a[-5:] = "mundo"

TypeError: 'str' object does not support item assignment

#### String `split`

Since strings are basically lists of characters, some functions and operations utilize this such as `split`, `in` and `join` <br>

`.split()` splits a string into a list of strings on the *delimeter*. By default, the *delimeter* consists of spaces, tabs (\t), and newlines (\n), but the *delimeter* can be given as an argument.

In [51]:
s = 'my dog has fleas'
print(s.split())
print(s.split('h'))

['my', 'dog', 'has', 'fleas']
['my dog ', 'as fleas']

**`join`** concatenate a list of words with intervening occurences of a delimeter.

In [18]:
l = ['my','dog','has','fleas']
print(''.join(l))
print('.'.join(l))
print(' '.join(l))
print("hello".join(l))

mydoghasfleas
my.dog.has.fleas
my dog has fleas
<class 'str'>

The **`in`** operator is used to check if an element is present in a given array. It returns `True` if its present and `False` otherwise

In [56]:
print(1 in [1,2,3,4,5])
print(0 in [1,2,3,4,5])
print('une' in 'funeral')

True
False
True

#### String operations

Following the list operations, strings handle some operations in a similar manner.

In [60]:
# Concatenation (+)
a = 'Hello' +'World'   # 'HelloWorld'
b = 'Say ' + a          # 'Say HelloWorld'

# Length (len)
s = 'Hello'
                 # 5

# Membership test (`in`, `not in`)
t = 'e' in s            # True
f = 'x' in s            # False
g = 'hi' not in s       # True

# Replication (s * n)
rep = s * 5             # 'HelloHelloHelloHelloHello'

5

#### String methods

Python has a set of built-in methods that you can use on strings (https://docs.python.org/2.5/lib/string-methods.html).

**`lower`** and **`upper`** changes the case of the text to either all lowercase or all uppercase letters##

In [61]:
text = "I aM IronMan"
text.lower()

'i am ironman'

In [62]:
text.upper()

'I AM IRONMAN'

**`strip`** removes "whitespace" (spaces, tab, newlines,..., etc) from the beginning and the end of a string.

In [19]:
text = '    I am Ironman    '
text.strip()

'I am             Ironman'

**`find`** returns a number corresponding to the position of the first occurence of the search item. It returns -1 on failure.

In [64]:
text = 'I am Ironman'
text.find('Ironman')

5

In [65]:
text.find("Thanos")

-1

**`replace`** is used to change an item inside the string with another. For example:

In [66]:
text = 'I am Ironman. I am the best Avenger.'
text.replace('Ironman','Captain America')

'I am Captain America. I am the best Avenger.'

#### String formatting using print()

- The `%` operator is used to create nicely formatted strings from other values. Its syntax is `format_specifier % (tuple of values)`.
- `format_specifier` is a string containing special format symbols, which are used to insert values from the tuple:
  - `%s` means inserting a string.
  - `%d` means inserting an integer.
  - `%f` means inserting a float.
- To specify the number of decimal places shown with a float place a `.` and number of decimal places between the `%` and the `f`.
- The number of format symbol in the format specifier must equal to the number of values in the tuple, and each format symbol must match the type of the corresponding value in the tuple.

##### `% operator`
- Its syntax is `format_specifier % (tuple of values)`.

In [67]:
print("hello, %f!" % 2017) 
print("hello, %d!" % 2017)
print("hello, %s!" % 'Sam')

hello, 2017.000000!
hello, 2017!
hello, Sam!

In [71]:
name = "Mike"
age = 25

print('My name is %s and I am %d years old.' % (name, age))
#print('Hello %s, and I am %d years old' % (name, age))

My name is Mike and I am 25 years old.

##### `.format`
- The format function is a newer, and more powerful, method to format strings.
- Index of values placed in braces

In [72]:
name = "Mike"
age = 25

print('My name is {0} and I am {1}years old.'.format(name, age))

My name is Mike and I am 25years old.

In [73]:
print('"I am {1} years old", said {0}.'.format(name, age))

"I am 25 years old", said Mike.

##### `f-string`
- The f-string is the newest method to format strings.
- Place the values directly in the braces
- Most recently programmed and made available in Python 3.6

In [74]:
name = "Mike"
age = 25

print(f'My name is {name} and I am {age} years old.')

My name is Mike and I am 25 years old.

In [77]:
print(f'My name is {name.upper()} and I am {age} years old, said {name}.')

My name is MIKE and I am 25 years old, said Mike.

## Control Structures

In broad terms, a program is a set of instructions given to a computer to handle a task.
How do we make sure that these instructions are executed in order and as intended?


All programming languages use **control structures** to organize the flow of data.
These determine how a program will respond when data exhibits certain conditions and parameters.
In essence, these control structures implement decision-making processes that are needed for the use case

Control structures may be any of the following
- Selection by conditional (`if`, `if-else`, `if-elif-else`)
- Repetition (`for`, `while`)
- Exception (`break`,`continue`,`try-except`)

We will be discussing the first two.

### Selection by conditionals

#### `if` 

- The syntax to implement a basic conditional statement in a function is:

```python
if (condition1) :     # where condition is any boolean expression
    expression2       # expression is indented

```

- An `if` statement evaluates the expression inside the parenthesis. \
- If the expression is evaluated to `True`, the indented expression is executed. \
- If it is `False`, the indented expression inside the body is skipped.

In [21]:
score1 = 80
score2 = 90

if (score1 > score2) :
    print("Score1 is bigger")

Score1 is bigger
2555

In [81]:
score1 = 90
score2 = 80

if (score1 > score2) :
    print("score1 is bigger")

score1 is bigger

In [82]:
score1 = 90
score2 = 80

passing_score = 85
#you may specify more than one condition and combine using logical operators

if ((score1 > score2) and (score1 > passing_score)):        
    print("score1 is bigger and it is a passing mark")

score1 is bigger and it is a passing mark

#### `if` - `else` 
An `if` statement is often paired with an `else` statement. 
The `else` statement executes the indented expression if the condition provided in `if` is `False`
```python
if (condition) :      
    expression1       # indented
else:                 # Note: else doesnt accept any conditions!
    expression2       # indented
```

In [83]:
score1 = 80
score2 = 90

if (score1 > score2):
    print(" score1 is bigger")
else:
    print(" score2 is bigger")

 score2 is bigger

#### `if` - `elif` and `if` - `elif`  - `else`

An `elif` (short for else if) statement is added if you need to account for more than 1 condition.

```python
if (condition1) :      
    expression1       # indented
elif (condition2):    
    expression2       # indented
elif (condition3):    
    expression3       # indented
else:
    expression4       # indented
```
- You may add as many `elif` statements as needed.

In [84]:
score1 = 80
score2 = 80

if (score1 > score2):
    print("score1 is bigger")
elif (score1 == score2):
    print("score1 and score2 are equal" )
else:
    print("score2 is bigger")

score1 and score2 are equal

### Repetition

The power of programming lies in the computer's ability to perform calculations repeatedly at a pace no human could possibly do. 

Loops are processes that gets repeated again and again until a certain condition is reached. 
A single repetition of a process is often called an `iteration`.

#### `For` loop

A `for` loop has 2 sections: a `header` which specifies the iterating condition, and a `body` which is executed once per iteration

```python
for item in sequence:      
    expression(s)    #indented
```

In flowchart form: <br>
![alt text](http://www.trytoprogram.com/images/python_for_loop.jpg)

In [85]:
avengers = ['Iron Man','Captain America','Hulk','Thor','Black Widow','Hawkeye']

In [86]:
for member in avengers:
    print(member)

Iron Man
Captain America
Hulk
Thor
Black Widow
Hawkeye

In [ ]:
# Recall that the `range` function generates a list of numbers:
for i in range(len(avengers)):
    print(i, avengers[i])

- In addition to the iteration variable taking on values in a list, you may want other variables to take on different values in each iteration.  You can accomplish this by “self-assigning” to those variables.  
- The following `for` loop sums the elements of a list:

In [ ]:
primes = [2, 3, 5, 7, 11]
sum_primes = 0    
for p in primes:
    sum_primes = sum_primes + p
sum_primes

#### `while` Loop

- While loops are used when the condition for terminating the loop is known, but not necessarily the number of iterations.  
 
- When using a while loop, iteration continues until a given condition becomes False:
```python
while <condition>:
   statements
```
In flowchart form: <br>
![alt text](http://www.trytoprogram.com/images/python_while_loop.jpg)

- As a first example, this loop prints integers from 0 to 9:

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1

This for loop does the same thing:

In [ ]:
for i in range(0, 10):
    print(i)

- One thing we can do with while loops that is hard to do with for loops is to terminate early.  
- This loops adds up integers starting from 1 until the sum exceeds n:

In [ ]:
n = 20
i = 1
sum_ = 0 # Do not overwrite the built-in sum() function
while sum_ <= n:
    sum_ = sum_ + i
    i = i + 1
sum_

# User-defined Functions

- Functions in programming are like functions in math. They take in input, run them through a series of instructions, and returns an output
- For example, the built-in function `abs` takes the absolute value of a number

The keyword `def` introduces a function definition. It is followed by the function name and a parenthesized list of *parameters*, called the *function arguments*. <br>
A sequence of statements in the body of the function start at the next line, and must be indented. <br>
The function ends with the keyword `return` which specifies the variable it outputs. <br>
```
def funcname(args):
  statement
  statement
  ...
  return result
```
Heres how to use it:

In [1]:
# function adding the square and the cube given x
def add_two_powers(x):
    result = x**2 + x**3
    return result

In [ ]:
add_two_powers(4)

For brevity, a function could also be written with a mathematical expression after 'return'

In [ ]:
def add_two_powers(x):
    return x**2 + x**3

The Anaconda installer already includes some frequently used modules in its Python installation.

The `math` module is a popular one. You can use it by using the `import` keyword

In [ ]:
import math
math.sqrt(25)

If unsure with what a function or a certain library does, the `help` function can provide documentation for easy reading.

In [ ]:
help(math)

We are able to do any operation mentioned so far in this lecture and label it under a function:

In [ ]:
# defining a func called make_it_triple
def make_it_triple(x):
    return x * 3 # the list is tripled 

make_it_triple(["a", "b", "c"])

#### Putting it all together: Pig Latin

Most words in Pig Latin end in "ay." Use the rules below to translate normal English into [Pig Latin](https://web.ics.purdue.edu/~morelanj/RAO/prepare2.html).

1. If a word starts with a consonant and a vowel, put the first letter of the word at the end of the word and add "ay."

  Example: Happy = appyh + ay = appyhay


2. If a word starts with two consonants move the two consonants to the end of the word and add "ay."

  Example: Child = Ildch + ay = Ildchay


3. If a word starts with a vowel add the word "way" at the end of the word.

  Example: Awesome = Awesome +way = Awesomeway

In [2]:
def to_pl(sent):
    vowels = ["a", "e", "i", "o", "u"] # defining vowels

    sentence = sent.split(" ") # we take each word in the sentence
    new_sentence = [] # storing the words of the sentence here
  
    for word in sentence: # for each word in the sentence
        # Pig Latin rules
        # if it begins with a vowel, add way at the end
        if word[0].lower() in vowels:
            word_ = word.lower() + "way"
        # if the first two letters are consonants
        elif word[:2][1].lower() not in vowels: 
            word_ = word[2:].lower() + word[:2].lower() + "ay"
        else: # everything else
            word_ = word[1:].lower() + word[0].lower() + "ay"

        new_sentence.append(word_)
        
    return " ".join(new_sentence)

In [3]:
print(to_pl("Pig Latin is hard to speak"))

igpay atinlay isway ardhay otay eakspay

In [ ]:
# Improvements to the function is left to the user as an exercise