<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exercises" data-toc-modified-id="Exercises-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><span><a href="#EASY.-What-is-the-breakdown-of-gender-per-region?-Use-.groupby()." data-toc-modified-id="EASY.-What-is-the-breakdown-of-gender-per-region?-Use-.groupby().-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>EASY. What is the breakdown of gender per region? Use .groupby().</a></span></li><li><span><a href="#AVERAGE.-Per-region,-compute-percentage-of-population-with-credit-card-AND-debit-card-segmented-by-gender." data-toc-modified-id="AVERAGE.-Per-region,-compute-percentage-of-population-with-credit-card-AND-debit-card-segmented-by-gender.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>AVERAGE. Per region, compute percentage of population with credit card AND debit card segmented by gender.</a></span></li><li><span><a href="#DIFFICULT.-Compute-the-following-metric-per-region:" data-toc-modified-id="DIFFICULT.-Compute-the-following-metric-per-region:-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>DIFFICULT. Compute the following metric per region:</a></span></li></ul></li></ul></div>

# Exercises

In [1]:
# Import pandas
import pandas as pd
pd.options.display.float_format = '{:,.2f}'

In [2]:
# Load the data
data = pd.read_csv('micro_world.csv', engine='python')

## EASY. What is the breakdown of gender per region? Use .groupby().

In [36]:
data.groupby(["regionwb", "female"]).count()["wpid_random"]

regionwb                                            female
East Asia & Pacific (excluding high income)         1          5739
                                                    2          8094
Europe & Central Asia (excluding high income)       1          9872
                                                    2         13190
High income: OECD                                   1         14611
                                                    2         16455
High income: nonOECD                                1          6131
                                                    2          5478
Latin America & Caribbean (excluding high income)   1          6561
                                                    2          9943
Middle East & North Africa (excluding high income)  1          6755
                                                    2          7390
South Asia                                          1          4043
                                                    2          4661
Sub-Saharan Africa (excluding high income)          1         17130
                                                    2         17870
Name: wpid_random, dtype: int64

## AVERAGE. Per region, compute percentage of population with credit card AND debit card segmented by gender.

Hint:
Columns will be region, % of male with BOTH credit card AND debit card, % of female with BOTH credit card AND debit card

In [42]:
dataWithcard = data[(data["fin2"] == 1) & (data["fin7"] == 1)]
dataWithcard.groupby(["regionwb", "female"]).count()[["wpid_random"]]



#ataWithcard.groupby('regionwb').count()["wpid_random"]

                                                           wpid_random
regionwb                                           female
East Asia & Pacific (excluding high income)        1               491
                                                   2               430
Europe & Central Asia (excluding high income)      1              1526
                                                   2              1568
High income: OECD                                  1              7443
                                                   2              7283
High income: nonOECD                               1              2211
                                                   2              1651
Latin America & Caribbean (excluding high income)  1               846
                                                   2               757
Middle East & North Africa (excluding high income) 1               391
                                                   2               202
South Asia                                         1               104
                                                   2                61
Sub-Saharan Africa (excluding high income)         1               764
                                                   2               503

In [41]:
totals = data.groupby(['regionwb', 'female']).count()[['wpid_random']]
totals

                                                           wpid_random
regionwb                                           female
East Asia & Pacific (excluding high income)        1              5739
                                                   2              8094
Europe & Central Asia (excluding high income)      1              9872
                                                   2             13190
High income: OECD                                  1             14611
                                                   2             16455
High income: nonOECD                               1              6131
                                                   2              5478
Latin America & Caribbean (excluding high income)  1              6561
                                                   2              9943
Middle East & North Africa (excluding high income) 1              6755
                                                   2              7390
South Asia                                         1              4043
                                                   2              4661
Sub-Saharan Africa (excluding high income)         1             17130
                                                   2             17870

In [44]:
merged_data = dataWithcard.merge(totals, how = 'left',on = ['regionwb','female'])
merged_data['percentage'] = (merged_data['wpid_random_x']/merged_data['wpid_random_y'])*100
merged_data.reset_index().pivot(index = 'regionwb', columns = 'female', values = 'percentage')

ValueError: Index contains duplicate entries, cannot reshape

## DIFFICULT. Compute the following metric per region:

card ownership access gender ratio = % of females with BOTH credit card AND debit card/% of males with BOTH credit card AND debit card

No apparent gender discrepancy if metric approaches 1. Else, there is a discrepancy.

In [25]:
dataOwnerwithcard = data[(data['fin2'] == 1) & 
                         (data['fin3'] == 1) & 
                         (data['fin7'] == 1) & 
                         (data['fin8'] == 1)]