<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setup,-Load-Data" data-toc-modified-id="Setup,-Load-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setup, Load Data</a></span></li><li><span><a href="#Unbanked-Profiling-and-Reasons" data-toc-modified-id="Unbanked-Profiling-and-Reasons-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Unbanked Profiling and Reasons</a></span><ul class="toc-item"><li><span><a href="#Column-Setup" data-toc-modified-id="Column-Setup-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Column Setup</a></span><ul class="toc-item"><li><span><a href="#FI-account-related--Demographics,-Reasons,-Purpose" data-toc-modified-id="FI-account-related--Demographics,-Reasons,-Purpose-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>FI account related- Demographics, Reasons, Purpose</a></span></li><li><span><a href="#Actions/Purposes-(saved,-borrowed,-etc)" data-toc-modified-id="Actions/Purposes-(saved,-borrowed,-etc)-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Actions/Purposes (saved, borrowed, etc)</a></span></li><li><span><a href="#Means-per-Action" data-toc-modified-id="Means-per-Action-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Means per Action</a></span></li><li><span><a href="#Cluster-Setup" data-toc-modified-id="Cluster-Setup-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Cluster Setup</a></span><ul class="toc-item"><li><span><a href="#Cluster-Setup-(Demogs,-Target-Cols,-Target-Usage,-Type-of-Worker)" data-toc-modified-id="Cluster-Setup-(Demogs,-Target-Cols,-Target-Usage,-Type-of-Worker)-2.1.4.1"><span class="toc-item-num">2.1.4.1&nbsp;&nbsp;</span>Cluster Setup (Demogs, Target Cols, Target Usage, Type of Worker)</a></span></li><li><span><a href="#Final-clustered-columns--Removing-Many-Nans" data-toc-modified-id="Final-clustered-columns--Removing-Many-Nans-2.1.4.2"><span class="toc-item-num">2.1.4.2&nbsp;&nbsp;</span>Final clustered columns- Removing Many Nans</a></span></li></ul></li><li><span><a href="#Logestic-Regression-Setup" data-toc-modified-id="Logestic-Regression-Setup-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Logestic Regression Setup</a></span></li></ul></li><li><span><a href="#Data-Wrangling/Visualization" data-toc-modified-id="Data-Wrangling/Visualization-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Data Wrangling/Visualization</a></span><ul class="toc-item"><li><span><a href="#Gender" data-toc-modified-id="Gender-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Gender</a></span></li><li><span><a href="#Educ" data-toc-modified-id="Educ-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Educ</a></span></li><li><span><a href="#Employment-Status" data-toc-modified-id="Employment-Status-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Employment Status</a></span></li><li><span><a href="#Income-Quartile" data-toc-modified-id="Income-Quartile-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Income Quartile</a></span></li><li><span><a href="#Age" data-toc-modified-id="Age-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Age</a></span></li><li><span><a href="#Reasons-for-not-having-a-FI-account" data-toc-modified-id="Reasons-for-not-having-a-FI-account-2.2.6"><span class="toc-item-num">2.2.6&nbsp;&nbsp;</span>Reasons for not having a FI account</a></span></li><li><span><a href="#Keith-Code" data-toc-modified-id="Keith-Code-2.2.7"><span class="toc-item-num">2.2.7&nbsp;&nbsp;</span>Keith Code</a></span></li></ul></li></ul></li><li><span><a href="#Utilization-of-Bank-Accounts" data-toc-modified-id="Utilization-of-Bank-Accounts-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Utilization of Bank Accounts</a></span><ul class="toc-item"><li><span><a href="#Underused-Accounts" data-toc-modified-id="Underused-Accounts-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Underused Accounts</a></span></li></ul></li><li><span><a href="#Action/Purpose-EDA" data-toc-modified-id="Action/Purpose-EDA-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Action/Purpose EDA</a></span><ul class="toc-item"><li><span><a href="#All-actions" data-toc-modified-id="All-actions-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>All actions</a></span></li><li><span><a href="#Filtered-Banked-Only" data-toc-modified-id="Filtered-Banked-Only-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Filtered-Banked Only</a></span></li><li><span><a href="#Filtered-Unbanked-Only" data-toc-modified-id="Filtered-Unbanked-Only-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Filtered-Unbanked Only</a></span></li><li><span><a href="#Combined" data-toc-modified-id="Combined-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Combined</a></span></li></ul></li><li><span><a href="#Means-of-Action-EDA-(Banked-Vs-Unbanked)" data-toc-modified-id="Means-of-Action-EDA-(Banked-Vs-Unbanked)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Means of Action EDA (Banked Vs Unbanked)</a></span><ul class="toc-item"><li><span><a href="#Means-of-Saving" data-toc-modified-id="Means-of-Saving-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Means of Saving</a></span></li><li><span><a href="#Means-of-Borrowing" data-toc-modified-id="Means-of-Borrowing-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Means of Borrowing</a></span></li><li><span><a href="#Means-of-Sending-Domestic-Remittances" data-toc-modified-id="Means-of-Sending-Domestic-Remittances-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Means of Sending Domestic Remittances</a></span></li><li><span><a href="#Means-of-Receiving-Domestic-Remittances" data-toc-modified-id="Means-of-Receiving-Domestic-Remittances-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Means of Receiving Domestic Remittances</a></span></li><li><span><a href="#Means-of-Paying-Utility-Bills" data-toc-modified-id="Means-of-Paying-Utility-Bills-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Means of Paying Utility Bills</a></span></li><li><span><a href="#Means-of-Receiving-Wage-Payments" data-toc-modified-id="Means-of-Receiving-Wage-Payments-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Means of Receiving Wage Payments</a></span></li><li><span><a href="#Means-of-Receiving-Government-Transfers" data-toc-modified-id="Means-of-Receiving-Government-Transfers-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>Means of Receiving Government Transfers</a></span></li><li><span><a href="#Means-of-Receiving-Agricultural-Payments-(Clustering-Idea)" data-toc-modified-id="Means-of-Receiving-Agricultural-Payments-(Clustering-Idea)-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>Means of Receiving Agricultural Payments (Clustering Idea)</a></span></li><li><span><a href="#Means-of-Receiving-Self-Employment-Payments-(Clustering-Idea)" data-toc-modified-id="Means-of-Receiving-Self-Employment-Payments-(Clustering-Idea)-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>Means of Receiving Self-Employment Payments (Clustering Idea)</a></span><ul class="toc-item"><li><span><a href="#Others--Clustering-Idea-(Retirees)" data-toc-modified-id="Others--Clustering-Idea-(Retirees)-5.9.1"><span class="toc-item-num">5.9.1&nbsp;&nbsp;</span>Others- Clustering Idea (Retirees)</a></span></li></ul></li></ul></li><li><span><a href="#Means-as-the-Cause-for-Creating-and-Account" data-toc-modified-id="Means-as-the-Cause-for-Creating-and-Account-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Means as the Cause for Creating and Account</a></span><ul class="toc-item"><li><span><a href="#To-Receive-Wage-Payments" data-toc-modified-id="To-Receive-Wage-Payments-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>To Receive Wage Payments</a></span></li><li><span><a href="#To-Receive-Government-Transfers" data-toc-modified-id="To-Receive-Government-Transfers-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>To Receive Government Transfers</a></span></li><li><span><a href="#To-Receive-Agricultural-Payment" data-toc-modified-id="To-Receive-Agricultural-Payment-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>To Receive Agricultural Payment</a></span></li></ul></li><li><span><a href="#Target-Columns-EDA" data-toc-modified-id="Target-Columns-EDA-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Target Columns EDA</a></span></li><li><span><a href="#Clustering" data-toc-modified-id="Clustering-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Clustering</a></span><ul class="toc-item"><li><span><a href="#Renaming-Column-Names-and-Values" data-toc-modified-id="Renaming-Column-Names-and-Values-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Renaming Column Names and Values</a></span></li><li><span><a href="#Applying-K-Modes-Clustering" data-toc-modified-id="Applying-K-Modes-Clustering-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Applying K-Modes Clustering</a></span></li><li><span><a href="#Elbow-Plot--N=7-or-5" data-toc-modified-id="Elbow-Plot--N=7-or-5-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Elbow Plot- N=7 or 5</a></span></li><li><span><a href="#K-Modes-(n1)" data-toc-modified-id="K-Modes-(n1)-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>K-Modes (n1)</a></span></li><li><span><a href="#K-Modes-(n2)" data-toc-modified-id="K-Modes-(n2)-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>K-Modes (n2)</a></span></li></ul></li><li><span><a href="#Logistic-Regression" data-toc-modified-id="Logistic-Regression-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Logistic Regression</a></span><ul class="toc-item"><li><span><a href="#Evaluation-of-Predictions" data-toc-modified-id="Evaluation-of-Predictions-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Evaluation of Predictions</a></span><ul class="toc-item"><li><span><a href="#Different-Ages--Secondary-Educ,-Middle-20%-Income,-Employed" data-toc-modified-id="Different-Ages--Secondary-Educ,-Middle-20%-Income,-Employed-9.1.1"><span class="toc-item-num">9.1.1&nbsp;&nbsp;</span>Different Ages- Secondary Educ, Middle 20% Income, Employed</a></span></li></ul></li></ul></li></ul></div>

# Setup, Load Data

In [1]:
# Import libraries
#https://microdata.worldbank.org/index.php/catalog/3324/data-dictionary/F2?file_name=micro_world

import csv
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import seaborn as sns
import numpy as np

from kmodes.kmodes import KModes
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler

In [2]:
# Load the data
data = pd.read_csv(
    'micro_world.csv',
    engine='python'
    )

In [3]:
philippine_data=data[data.economy=="Philippines"]
philippine_data

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_wages,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,pay_onlne,pay_onlne_mobintbuy,pay_cash,pay_cash_mobintbuy
114292,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,180129353,0.261434,2,66.0,1.0,1,...,4,2,2,4.0,2,3.0,0.0,NaN,0.0,NaN
114293,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,171987745,0.424916,2,24.0,3.0,5,...,1,4,4,4.0,4,1.0,0.0,0.0,1.0,1.0
114294,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,178228576,0.732469,2,88.0,1.0,4,...,4,2,2,4.0,2,5.0,0.0,NaN,0.0,NaN
114295,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,193725076,0.388121,2,30.0,2.0,5,...,4,4,4,4.0,2,5.0,0.0,NaN,0.0,NaN
114296,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,194711242,2.333196,2,33.0,3.0,5,...,1,1,4,2.0,2,1.0,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115287,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,151988960,1.249522,1,27.0,2.0,1,...,2,4,4,2.0,2,5.0,0.0,NaN,0.0,NaN
115288,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,138300933,0.697020,1,68.0,1.0,1,...,4,4,4,4.0,4,5.0,0.0,NaN,0.0,NaN
115289,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,134514859,2.614345,2,18.0,2.0,4,...,2,4,4,4.0,4,2.0,0.0,0.0,1.0,1.0
115290,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,145841428,1.916246,1,20.0,2.0,4,...,2,4,4,4.0,2,2.0,0.0,NaN,0.0,NaN
115291,Philippines,PHL,East Asia & Pacific (excluding high income),70293928.0,208872557,0.435442,1,27.0,1.0,1,...,2,4,4,2.0,4,2.0,0.0,NaN,0.0,NaN

# Unbanked Profiling and Reasons

__Links__- https://microdata.worldbank.org/index.php/catalog/3324/data-dictionary/F2?file_name=micro_world

## Column Setup

In [4]:
### Template

In [5]:
#### Actual

### FI account related- Demographics, Reasons, Purpose

In [6]:
geo_cols=["economy","economycode","regionwb"]                             
feature_cols=["female","age","educ","inc_q","emp_in"]
demogs_cols=feature_cols

#FI Acesss related columns
fi_account_cols=     ["account_fin"]





reasons_cols=        ["fin11a","fin11b","fin11c","fin11d",
                      "fin11e","fin11f","fin11g","fin11h"]
reasons_cols_new=     ["Reason_too_far","Reason_too_expensive","Reason_lack_docu","Reason_lack_trust",
                          "Reason_religious","Reason_lack_money","Reason_family_has","Reason_no_need"]





fi_account_purposes= ["fin17a","fin22a","fin27a",
                      "fin29a","fin31a","fin34a","fin39a",
                      "fin43a","fin47a"]
fi_account_purposes_new= ["Purpose_saved","Purpose_borrowed","Purpose_sent_dom_rem",
                          "Purpose_received_dom_rem","Purpose_pay_utils","Purpose_received_wage","Purpose_received_govt_transfer",
                          "Purpose_received_agri_payment","Purpose_received_self_employment"]



#Needed columns
needed_cols=fi_account_cols+geo_cols+feature_cols+reasons_cols_new+fi_account_purposes_new+["wpid_random"]

#Rename specified columns, then only include needed columns
col_rename_dict = {i:j for i,j in zip(reasons_cols+fi_account_purposes,reasons_cols_new+fi_account_purposes_new)}
philippine_data_2=philippine_data.rename(columns=col_rename_dict)[needed_cols]

### Actions/Purposes (saved, borrowed, etc)

In [7]:
#Columns Related to Purposes/Potential Use cases
purpose_cols=["fin14a","fin14b",
              "saved","borrowed",
              "fin26","fin28",
             "fin30","fin32",
             "fin37","fin38",
             "fin42","fin46"]

purpose_cols_new=["paid_bills_online","made_online_purchase",
                  "saved","borrowed",
                  "sent_dom_rem","rec_dom_rem",
                  "paid_utils","rec_wage",
                  "rec_govt_transfer","rec_pension",
                  "rec_agri_pay","rec_self_emp_pay"]
                  
#Rename specified columns, then only include needed columns
col_rename_dict_2 = {i:j for i,j in zip(purpose_cols,purpose_cols_new)}
philippine_data_3=philippine_data.rename(columns=col_rename_dict_2)[["wpid_random"]+purpose_cols_new]
philippine_data_3

,wpid_random,paid_bills_online,made_online_purchase,saved,borrowed,sent_dom_rem,rec_dom_rem,paid_utils,rec_wage,rec_govt_transfer,rec_pension,rec_agri_pay,rec_self_emp_pay
114292,180129353,2,2,1,0,2.0,1.0,1,2,1,1,2.0,1.0
114293,171987745,2,1,1,0,1.0,2.0,2,1,2,2,2.0,NaN
114294,178228576,2,2,1,0,2.0,2.0,1,2,1,1,2.0,1.0
114295,193725076,2,2,1,1,2.0,2.0,1,2,2,2,2.0,1.0
114296,194711242,2,2,1,0,1.0,2.0,1,1,1,2,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115287,151988960,2,2,0,1,2.0,2.0,1,1,2,2,1.0,NaN
115288,138300933,2,2,0,0,2.0,2.0,2,2,2,2,2.0,2.0
115289,134514859,2,1,1,0,1.0,2.0,2,1,2,2,2.0,NaN
115290,145841428,2,2,1,1,1.0,2.0,1,1,2,2,2.0,NaN
115291,208872557,2,2,1,0,1.0,2.0,2,1,2,2,1.0,NaN

### Means per Action

In [8]:
#Columns- Means per action

means_saving_cols=["fin17a","fin17b"]
means_saving_cols_new=["saved_fin_acc","saved_inf_savings_club"]

means_borrow_cols=["fin22a","fin22b","fin22c"]
means_borrow_cols_new=["borrow_fin_acc","borrow_family_friends","borrow_inf_savings_club"]

means_sdr_cols=["fin27a","fin27b","fin27c1","fin27c2"]
means_sdr_cols_new=["sdr_fin_acc","sdr_mobile_phone","sdr_cash","sdr_mto"]

means_rdr_cols=["fin29a","fin29b","fin29c1","fin29c2"]
means_rdr_cols_new=["rdr_fin_acc","rdr_mobile_phone","rdr_cash","rdr_mto"]


means_pay_utils_cols=["fin31a","fin31b","fin31c"]
means_pay_utils_cols_new=["paid_utils_fin_acc","paid_utils_mobile_phone","paid_utils_cash"]

means_rec_wages_cols=["fin34a","fin34b","fin34c1","fin34c2"]
means_rec_wages_cols_new=["rec_wages_acc","rec_wages_phone","rec_wages_cash","rec_wages_card"]

means_govt_transfers_cols=["fin39a","fin39b","fin39c1","fin39c2"]
means_govt_transfers_cols_new=["govt_transfers_acc","govt_transfers_phone","govt_transfers_cash","govt_transfers_card"]


means_agri_pay_cols=["fin43a","fin43b","fin43c1","fin43c2"]
means_agri_pay_cols_new=["agri_pay_acc","agri_pay_phone","agri_pay_cash","agri_pay_card"]

means_se_pay_cols=["fin47a","fin47b","fin47c1","fin47c2"]
means_se_pay_cols_new=["se_pay_acc","se_pay_phone","se_pay_cash","se_pay_card"]


all_means_cols=means_saving_cols+means_borrow_cols+means_sdr_cols+ \
               means_rdr_cols+means_pay_utils_cols+means_rec_wages_cols+ \
               means_govt_transfers_cols+means_agri_pay_cols+means_se_pay_cols
        
all_means_cols_new=means_saving_cols_new+means_borrow_cols_new+means_sdr_cols_new+ \
               means_rdr_cols_new+means_pay_utils_cols_new+means_rec_wages_cols_new+ \
               means_govt_transfers_cols_new+means_agri_pay_cols_new+means_se_pay_cols_new

#Rename specified columns, then only include needed columns
col_rename_dict_3 = {i:j for i,j in zip(all_means_cols,all_means_cols_new)}
philippine_data_4=philippine_data.rename(columns=col_rename_dict_3)[["wpid_random"]+all_means_cols_new]
philippine_data_4

,wpid_random,saved_fin_acc,saved_inf_savings_club,borrow_fin_acc,borrow_family_friends,borrow_inf_savings_club,sdr_fin_acc,sdr_mobile_phone,sdr_cash,sdr_mto,...,govt_transfers_cash,govt_transfers_card,agri_pay_acc,agri_pay_phone,agri_pay_cash,agri_pay_card,se_pay_acc,se_pay_phone,se_pay_cash,se_pay_card
114292,180129353,2,1.0,2,2,2.0,NaN,NaN,NaN,NaN,...,1.0,2.0,NaN,NaN,NaN,NaN,2.0,2.0,1.0,2.0
114293,171987745,1,2.0,2,2,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114294,178228576,1,2.0,2,2,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,NaN,NaN,NaN,NaN,2.0,2.0,1.0,2.0
114295,193725076,2,2.0,2,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN
114296,194711242,1,2.0,2,2,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,2.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115287,151988960,2,2.0,2,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN
115288,138300933,2,2.0,2,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115289,134514859,2,2.0,2,2,NaN,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115290,145841428,2,2.0,1,1,NaN,2.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115291,208872557,2,2.0,2,2,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,2.0,2.0,1.0,2.0,NaN,NaN,NaN,NaN

### Cluster Setup

#### Cluster Setup (Demogs, Target Cols, Target Usage, Type of Worker)

In [9]:
#Targets

#1)Demogs
#feature_cols

#2)Targets

#target_cols=["account_fin","fin2","fin7"]
#target_cols_new=["account_fin","has_debit_card","has_credit_card"]

target_cols=["account_fin","fin2","fin7","mobileowner","fin48","account_mob"]
target_cols_new=["account_fin","has_debit_card","has_credit_card","has_mobile_phone","has_nat_id","has_mobile_money_acc"]

#3)Proper Use of Targets
target_cols_supp=fi_account_purposes_new+ ["fin4","fin8"]
target_cols_supp_new=fi_account_purposes_new +  ["used_dedit_card", "used_credit_card"]



#4) Type of Worker

worker_type_cols=["fin42","fin46","fin32"]
worker_type_cols_new=["farmers","self_emp","govt_workers"]

col_rename_dict_4 = {i:j for i,j in zip(target_cols+target_cols_supp+worker_type_cols, 
                                        target_cols_new+target_cols_supp_new+worker_type_cols_new) }

cluster_cols=feature_cols+target_cols_new+target_cols_supp_new+['rec_agri_pay','rec_self_emp_pay',
                                                               'rec_pension']

In [10]:
ph_data_r=philippine_data.rename(columns=col_rename_dict). \
                         rename(columns=col_rename_dict_2). \
                         rename(columns=col_rename_dict_3). \
                         rename(columns=col_rename_dict_4) 
        
ph_data_c=ph_data_r[cluster_cols]
#ph_data_r.columns.to_list() 
ph_data_c

,female,age,educ,inc_q,emp_in,account_fin,has_debit_card,has_credit_card,has_mobile_phone,has_nat_id,...,Purpose_pay_utils,Purpose_received_wage,Purpose_received_govt_transfer,Purpose_received_agri_payment,Purpose_received_self_employment,used_dedit_card,used_credit_card,rec_agri_pay,rec_self_emp_pay,rec_pension
114292,2,66.0,1.0,1,0.0,0,2,2,2.0,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,NaN,2.0,1.0,1
114293,2,24.0,3.0,5,1.0,1,1,2,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2.0,NaN,2
114294,2,88.0,1.0,4,1.0,1,1,2,2.0,NaN,...,2.0,NaN,2.0,NaN,2.0,2.0,NaN,2.0,1.0,1
114295,2,30.0,2.0,5,1.0,1,1,2,1.0,NaN,...,2.0,NaN,NaN,NaN,2.0,2.0,NaN,2.0,1.0,2
114296,2,33.0,3.0,5,1.0,1,1,2,1.0,NaN,...,2.0,1.0,1.0,2.0,NaN,2.0,NaN,1.0,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115287,1,27.0,2.0,1,1.0,0,2,2,1.0,NaN,...,2.0,2.0,NaN,2.0,NaN,NaN,NaN,1.0,NaN,2
115288,1,68.0,1.0,1,0.0,0,2,2,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2
115289,2,18.0,2.0,4,1.0,0,2,2,1.0,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2
115290,1,20.0,2.0,4,1.0,0,2,2,1.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2
115291,1,27.0,1.0,1,1.0,0,2,2,1.0,NaN,...,NaN,2.0,NaN,2.0,NaN,NaN,NaN,1.0,NaN,2

#### Final clustered columns- Removing Many Nans

In [11]:
ph_data_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 114292 to 115291
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   female                            1000 non-null   int64
 1   age                               1000 non-null   float64
 2   educ                              1000 non-null   float64
 3   inc_q                             1000 non-null   int64
 4   emp_in                            1000 non-null   float64
 5   account_fin                       1000 non-null   int64
 6   has_debit_card                    1000 non-null   int64
 7   has_credit_card                   1000 non-null   int64
 8   has_mobile_phone                  1000 non-null   float64
 9   has_nat_id                        0 non-null      float64
 10  has_mobile_money_acc              1000 non-null   float64
 11  Purpose_saved                     1000 non-null   int64
 12  Purpose_borrowed                  1000 non-null   int64
 13  Purpose_sent_dom_rem              249 non-null    float64
 14  Purpose_received_dom_rem          342 non-null    float64
 15  Purpose_pay_utils                 566 non-null    float64
 16  Purpose_received_wage             363 non-null    float64
 17  Purpose_received_govt_transfer    264 non-null    float64
 18  Purpose_received_agri_payment     190 non-null    float64
 19  Purpose_received_self_employment  156 non-null    float64
 20  used_dedit_card                   219 non-null    float64
 21  used_credit_card                  21 non-null     float64
 22  rec_agri_pay                      1000 non-null   float64
 23  rec_self_emp_pay                  508 non-null    float64
 24  rec_pension                       1000 non-null   int64
dtypes: float64(17), int64(8)
memory usage: 203.1 KB

In [12]:
final_cluster_columns=feature_cols+target_cols_new +  \
                       ["Purpose_saved","Purpose_borrowed", \
                           "rec_agri_pay","rec_pension"]

#ph_data_clustered=ph_data_r[final_cluster_columns]
#ph_data_clustered=ph_data_r[final_cluster_columns].drop(['female','age'], axis=1)
#ph_data_clustered=ph_data_r[final_cluster_columns].drop(['female','age','rec_pension','rec_agri_pay'], axis=1)
#ph_data_clustered=ph_data_r[final_cluster_columns].drop(['female','age','rec_pension','rec_agri_pay', \
#                                                        'Purpose_saved','Purpose_borrowed'], axis=1)

ph_data_clustered=ph_data_r[final_cluster_columns].drop(['female','age','rec_pension','rec_agri_pay', \
                                                        'Purpose_saved','Purpose_borrowed','has_nat_id'], axis=1)
ph_data_clustered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 114292 to 115291
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   educ                  1000 non-null   float64
 1   inc_q                 1000 non-null   int64
 2   emp_in                1000 non-null   float64
 3   account_fin           1000 non-null   int64
 4   has_debit_card        1000 non-null   int64
 5   has_credit_card       1000 non-null   int64
 6   has_mobile_phone      1000 non-null   float64
 7   has_mobile_money_acc  1000 non-null   float64
dtypes: float64(4), int64(4)
memory usage: 70.3 KB

In [13]:
for count,col in enumerate(ph_data_clustered):
    print(count,ph_data_clustered[col].unique())

0 [1. 3. 2.]
1 [1 5 4 2 3]
2 [0. 1.]
3 [0 1]
4 [2 1 4]
5 [2 1 4 3]
6 [2. 1. 3. 4.]
7 [0. 1.]

### Logestic Regression Setup

In [14]:
ph_data_lr=ph_data_r[demogs_cols+ ["has_debit_card"]]
ph_data_lr["has_debit_card"]=np.where(ph_data_lr["has_debit_card"]==1,1,0)
ph_data_lr

NameError: name 'np' is not defined

## Data Wrangling/Visualization

In [ ]:
philippine_data_2

In [ ]:
total_filipinos=len(philippine_data_2["wpid_random"])
filipinos_with_fin_acc=len(philippine_data_2[philippine_data_2["account_fin"]==1])
print("Percent of Filipinos with accounts in financial institutions:")
filipinos_with_fin_acc/total_filipinos*100

In [ ]:
data_no_pinoys=data[data.economy!="Philippines"]
total_no_pinoys=len(data_no_pinoys["wpid_random"])
non_filipinos_with_fin_acc=len(data_no_pinoys[data_no_pinoys["account_fin"]==1])
print("Rest of the world- Percent of Respondents with accounts in financial institutions:")
non_filipinos_with_fin_acc/total_no_pinoys*100

### Gender

In [ ]:
proportion_gender = philippine_data_2.groupby(['female']).agg(
    total_with_acc=('account_fin', 'sum'),
    total_population=('wpid_random', 'count')).reset_index()
proportion_gender["Proportion"]=proportion_gender.total_with_acc/proportion_gender.total_population
proportion_gender

In [ ]:
mapping = {
    1:'male',
    2:'female',
}

proportion_gender.replace({"female":mapping}, inplace=True)

In [ ]:
# Set figure size
plt.figure(figsize=(6,3)  , dpi=200)

# Run bar plot
plt.barh(
    proportion_gender['female'],
    proportion_gender['Proportion']
)

# Set title
plt.title('% With Account (Grouped by Gender)')

# Set labels
#plt.xlabel('% Proportion')
plt.ylabel('Gender')

# Show figure
plt.show()

### Educ

In [ ]:
proportion_educ = philippine_data_2.groupby(['educ']).agg(
    total_with_acc=('account_fin', 'sum'),
    total_population=('wpid_random', 'count')).reset_index()
proportion_educ["Proportion"]=proportion_educ.total_with_acc/proportion_educ.total_population
proportion_educ

In [ ]:
mapping = {
    1:'Primary Education or Less',
    2:'Secondary Education',
    3:'Tertiary Education or Above',
}

proportion_educ.replace({"educ":mapping}, inplace=True)
proportion_educ

In [ ]:
# Set figure size
plt.figure(figsize=(6,3)  , dpi=200)

# Run bar plot
plt.barh(
    proportion_educ['educ'],
    proportion_educ['Proportion']
)

# Set title
plt.title('% With Account (Grouped by Educational Attainment)')

# Set labels
#plt.xlabel('% Proportion')
plt.ylabel('Education')

# Show figure
plt.show()

In [ ]:
proportion_educ

### Employment Status

In [ ]:
proportion_emp_in = philippine_data_2.groupby(['emp_in']).agg(
    total_with_acc=('account_fin', 'sum'),
    total_population=('wpid_random', 'count')).reset_index()
proportion_emp_in["Proportion"]=proportion_emp_in.total_with_acc/proportion_emp_in.total_population
proportion_emp_in

In [ ]:
mapping = {
    0:'Unemployed',
    1:'Employed',

}

proportion_emp_in.replace({"emp_in":mapping}, inplace=True)
proportion_emp_in

In [ ]:
# Set figure size
plt.figure(figsize=(6,3)  , dpi=200)

# Run bar plot
plt.barh(
    proportion_emp_in['emp_in'],
    proportion_emp_in['Proportion']
)

# Set title
plt.title('% With Account (Grouped by Employment Status)')

# Set labels
#plt.xlabel('% Proportion')
plt.ylabel('Employment Status')

# Show figure
plt.show()

### Income Quartile

In [ ]:
proportion_inc_q = philippine_data_2.groupby(['inc_q']).agg(
    total_with_acc=('account_fin', 'sum'),
    total_population=('wpid_random', 'count')).reset_index()
proportion_inc_q["Proportion"]=proportion_inc_q.total_with_acc/proportion_inc_q.total_population
proportion_inc_q

In [ ]:
mapping = {
    1:'poorest 20%',
    2:'second 20%',
    3:'middle 20%',
    4:'fourth 20%',
    5:'richest 20%'
}


proportion_inc_q.replace({"inc_q":mapping}, inplace=True)
proportion_inc_q

In [ ]:
# Set figure size
plt.figure(figsize=(6,3)  , dpi=200)

# Run bar plot
plt.barh(
    proportion_inc_q['inc_q'],
    proportion_inc_q['Proportion']
)

# Set title
plt.title('% With Account (Grouped by Employment Status)')

# Set labels
#plt.xlabel('% Proportion')
plt.ylabel('Employment Status')

# Show figure
plt.show()

### Age

In [ ]:
import seaborn as sns
sns.boxplot(
    x="account_fin",
    y="age", 
    data=philippine_data_2
)

### Reasons for not having a FI account

In [ ]:
reasons=philippine_data_2[['wpid_random']+reasons_cols_new+fi_account_cols]
print(reasons.info())
reasons

In [ ]:
reasons_wide_filtered=reasons[ 
    (reasons.account_fin==0) & \
        ( 
            ( (reasons.Reason_too_far==1) | (reasons.Reason_too_far==2)   )| 
            ( (reasons.Reason_too_expensive==1) | (reasons.Reason_too_expensive==2) )| 
            ( (reasons.Reason_lack_docu==1) | (reasons.Reason_lack_docu==2) )| 
            ( (reasons.Reason_lack_trust==1) | (reasons.Reason_lack_trust==2) )| 
            ( (reasons.Reason_religious==1) | (reasons.Reason_religious==2) )| 
            ( (reasons.Reason_lack_money==1) | (reasons.Reason_lack_money==2) )| 
            ( (reasons.Reason_family_has==1) | (reasons.Reason_family_has==2) )| 
            ( (reasons.Reason_no_need==1) | (reasons.Reason_no_need==2) )

        )
    ]

len_wide_filtered=len(reasons_wide_filtered)
print(len(reasons_wide_filtered))
reasons_wide_filtered

In [ ]:
reasons_wide_filtered.drop(columns=['account_fin'])

In [ ]:
reasons_wide_filtered.info()

In [ ]:
import numpy as np
reasons_long=pd.melt(
    reasons_wide_filtered.drop(columns=['account_fin']),
    id_vars=['wpid_random'],
    value_vars=reasons_cols_new#+fi_account_cols
)
print(reasons_long.info())
reasons_long["adj_value"]=np.where(reasons_long.value==1,1,0)
reasons_long

In [ ]:
reasons_long.groupby(["variable"])[["adj_value"]].sum().sort_values(by="adj_value", ascending=False)

In [ ]:
reasons_grouped=reasons_long.groupby(["variable"]).agg(
    total_with_reason=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).sort_values(by="total_with_reason", ascending=False).reset_index()

reasons_grouped["Proportion"]=reasons_grouped.total_with_reason/reasons_grouped.total_respondents*100
reasons_grouped

In [ ]:
mapping = {
    "Reason_lack_money":'Lack of Money',
    "Reason_too_expensive":'Too Expensive',
    "Reason_lack_docu":'Lack documentation',
    "Reason_too_far":'Too far away',
    "Reason_no_need":'No need for one',
    "Reason_family_has":'Family member already has one',
    "Reason_lack_trust":'Lack Trust',
    "Reason_religious":'Religious Reasons',
}


reasons_grouped.replace({"variable":mapping}, inplace=True)
reasons_grouped

In [ ]:
plt.figure(figsize=(6,3), dpi=200)
sns.barplot(reasons_grouped['Proportion'], reasons_grouped['variable'])

# Set title
plt.title('Reasons for Unbankment')

# Set labels
plt.xlabel('Proportion of Survey Respondents with that Reason')
plt.ylabel('Reason')


plt.show()

In [ ]:
proportion_gender = philippine_data_2.groupby(['female']).agg(
    total_with_acc=('account_fin', 'sum'),
    total_population=('wpid_random', 'count')).reset_index()
proportion_gender["Proportion"]=proportion_gender.total_with_acc/proportion_gender.total_population
proportion_gender

### Keith Code

In [ ]:
unbanked_respondents = philippine_data_2[philippine_data_2['account_fin'] == 0]
reasons_unbanked_respondents = philippine_data_2[(philippine_data_2['Reason_too_far'] == 1) |
                                         (philippine_data_2['Reason_too_expensive'] == 1) |
                                         (philippine_data_2['Reason_lack_docu'] == 1) |
                                         (philippine_data_2['Reason_lack_trust'] == 1) |
                                         (philippine_data_2['Reason_religious'] == 1) |
                                         (philippine_data_2['Reason_lack_money'] == 1) |
                                         (philippine_data_2['Reason_family_has'] == 1) |
                                         (philippine_data_2['Reason_no_need'] == 1)]
long_reasons_unbanked = pd.melt(reasons_unbanked_respondents, 
                                id_vars = 'account_fin',
                                value_vars = reasons_cols_new)
unbanked_chart_data = long_reasons_unbanked[long_reasons_unbanked['value'] == 1]\
                        .groupby(['variable']).count().reset_index().sort_values('account_fin', ascending = False)
unbanked_chart_data

plt.figure(figsize=(6,3), dpi=200)

sns.barplot(unbanked_chart_data['account_fin']/unbanked_chart_data['account_fin'].sum()*100, unbanked_chart_data['variable'])

In [ ]:
unbanked_respondents = philippine_data_2[philippine_data_2['account_fin'] == 0]
reasons_unbanked_respondents = philippine_data_2[(philippine_data_2['Reason_too_far'] == 1) |
                                         (philippine_data_2['Reason_too_expensive'] == 1) |
                                         (philippine_data_2['Reason_lack_docu'] == 1) |
                                         (philippine_data_2['Reason_lack_trust'] == 1) |
                                         (philippine_data_2['Reason_religious'] == 1) |
                                         (philippine_data_2['Reason_lack_money'] == 1) |
                                         (philippine_data_2['Reason_family_has'] == 1) |
                                         (philippine_data_2['Reason_no_need'] == 1)]
long_reasons_unbanked = pd.melt(reasons_unbanked_respondents, 
                                id_vars = 'account_fin',
                                value_vars = reasons_cols_new)
unbanked_chart_data = long_reasons_unbanked[long_reasons_unbanked['value'] == 1]\
                        .groupby(['variable']).count().reset_index().sort_values('account_fin', ascending = False)
unbanked_chart_data

plt.figure(figsize=(6,3), dpi=200)

sns.barplot(unbanked_chart_data['account_fin'], unbanked_chart_data['variable'])

In [ ]:
unbanked_chart_data['account_fin']/unbanked_chart_data['account_fin'].sum()

In [ ]:
philippine_data_2[ (philippine_data_2["Reason_lack_money"]==1) | (philippine_data_2["Reason_too_expensive"]==1) ]

# Utilization of Bank Accounts

## Underused Accounts

In [ ]:
ph_data_purpose_fa=philippine_data_2[philippine_data_2.account_fin==1][["wpid_random"]+fi_account_purposes_new]#.info()
print(len(ph_data_purpose_fa))
ph_data_purpose_fa.info()

In [ ]:
purpose_fa_long=pd.melt(
    ph_data_purpose_fa,
    id_vars=['wpid_random'],
    value_vars=fi_account_purposes_new
)

purpose_fa_long

In [ ]:
purpose_fa_long["adj_value"]=np.where(purpose_fa_long.value==1,1,0)

purpose_fa_grouped=purpose_fa_long.groupby(["variable"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).sort_values(by="total_with_purpose", ascending=False).reset_index()

purpose_fa_grouped["Proportion"]=purpose_fa_grouped.total_with_purpose/purpose_fa_grouped.total_respondents*100
purpose_fa_grouped

In [ ]:
purpose_fa_grouped.variable#.to_list()

In [ ]:
old_mapping=purpose_fa_grouped.variable.to_list()
new_mapping=["To Save Money", "To Receive Wages", "To Borrow Money",
             "To Receive Government Transfers", "To Send Domestic Remittances",
             "To Receive Domestic Remittances", "To Pay Utility Bills",
             "To Receive Self-Employment Payments", "To Receive Agricultural Payments"]

mapping = {old_mapping[i]: new_mapping[i] for i in range(len(old_mapping))}

purpose_fa_grouped.replace({"variable":mapping}, inplace=True)
purpose_fa_grouped

In [ ]:
plt.figure(figsize=(8,4), dpi=200)

#sns.barplot(purpose_fa_grouped['Proportion'], purpose_fa_grouped['variable'])
plt.barh(purpose_fa_grouped['variable'].loc[::-1],purpose_fa_grouped['Proportion'].loc[::-1], )

# Set title
plt.title('Possible Use Cases for Bank Account')

# Set labels
plt.xlabel('Proportion of Banked Respondents that used their bank accounts for these purposes')
plt.ylabel('-')


plt.show()

In [ ]:
ph_data_banked=philippine_data[philippine_data.account_fin==1]

# Action/Purpose EDA

## All actions

In [ ]:
philippine_data_3
print(len(philippine_data_3))
philippine_data_3.info()

In [ ]:

philippine_data_3_long=pd.melt(
    philippine_data_3,
    id_vars=['wpid_random'],
    value_vars=purpose_cols_new
)

philippine_data_3_long

In [ ]:
philippine_data_3_long["adj_value"]=np.where(philippine_data_3_long.value==1,1,0)

grouped=philippine_data_3_long.groupby(["variable"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).sort_values(by="total_with_purpose", ascending=False).reset_index()

grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100
grouped

In [ ]:
plt.figure(figsize=(6,3), dpi=200)

#sns.barplot(grouped['Proportion'], grouped['variable'])
plt.barh( grouped['variable'].loc[::-1],grouped['Proportion'].loc[::-1])

# Set title
plt.title('Proportion that have performed the the following:')

# Set labels
#plt.xlabel('Proportion that have performed these the actions')
#plt.ylabel('-')


plt.show()

## Filtered-Banked Only

In [ ]:

input_data=philippine_data[philippine_data.account_fin==1].rename(columns=col_rename_dict_2)[["wpid_random"]+purpose_cols_new]

philippine_data_3_long=pd.melt(
    input_data,
    id_vars=['wpid_random'],
    value_vars=purpose_cols_new
)

philippine_data_3_long

''''''

philippine_data_3_long["adj_value"]=np.where(philippine_data_3_long.value==1,1,0)

grouped=philippine_data_3_long.groupby(["variable"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).sort_values(by="total_with_purpose", ascending=False).reset_index()

grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100




plt.figure(figsize=(6,3), dpi=200)

#sns.barplot(grouped['Proportion'], grouped['variable'])
plt.barh( grouped['variable'].loc[::-1],grouped['Proportion'].loc[::-1])

# Set title
plt.title('Possible Use Cases for Bank Account')

# Set labels
plt.xlabel('Proportion of Banked Respondents that used their bank accounts for these purposes')
plt.ylabel('-')


plt.show()

## Filtered-Unbanked Only

In [ ]:

input_data=philippine_data[philippine_data.account_fin==0].rename(columns=col_rename_dict_2)[["wpid_random"]+purpose_cols_new]

philippine_data_3_long=pd.melt(
    input_data,
    id_vars=['wpid_random'],
    value_vars=purpose_cols_new
)

philippine_data_3_long

''''''

philippine_data_3_long["adj_value"]=np.where(philippine_data_3_long.value==1,1,0)

grouped_2=philippine_data_3_long.groupby(["variable"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).sort_values(by="total_with_purpose", ascending=False).reset_index()

grouped_2["Proportion"]=grouped_2.total_with_purpose/grouped_2.total_respondents*100




plt.figure(figsize=(6,3), dpi=200)

#sns.barplot(grouped_2['Proportion'], grouped_2['variable'])
plt.barh( grouped_2['variable'].loc[::-1],grouped_2['Proportion'].loc[::-1])
#plt.barh(x, y2, bottom=y1, color='b')

# Set title
plt.title('Possible Use Cases for Bank Account')

# Set labels
plt.xlabel('Proportion of Banked Respondents that used their bank accounts for these purposes')
plt.ylabel('-')


plt.show()

## Combined

In [ ]:
import matplotlib.patches as mpatches
plt.figure(figsize=(8,4), dpi=200)
plt.rcParams["figure.autolayout"] = True

#sns.barplot(grouped_2['Proportion'], grouped_2['variable'])
#plt.barh( grouped['variable'].loc[::-1],grouped['Proportion'].loc[::-1],color="#4287f5")
#plt.barh( grouped_2['variable'].loc[::-1],grouped_2['Proportion'].loc[::-1],color="#fce286")
#plt.barh(x, y2, bottom=y1, color='b')

# Set title
plt.title('Financial Actions')

# Set labels
plt.xlabel('Proportion that completed these actions (Banked vs Unbanked)')
plt.ylabel('-')


blue_patch = mpatches.Patch(color='#4287f5', label='Banked')
yellow_patch = mpatches.Patch(color='#fce286', label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch])
plt.show()

# Means of Action EDA (Banked Vs Unbanked)

In [ ]:
color_banked="#4287f5"
color_unbanked="#fce286"

ph_data_means=philippine_data.rename(columns=col_rename_dict_2).rename(columns=col_rename_dict_3)[ ["wpid_random","account_fin"] +purpose_cols_new + all_means_cols_new]
ph_data_means.columns.to_list()

In [ ]:
ph_data_means.info()

## Means of Saving

In [ ]:
ph_saved=ph_data_means[(ph_data_means.saved==1)]


ph_saved_long=pd.melt(
   ph_saved,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_saving_cols_new
)



ph_saved_long["adj_value"]=np.where(ph_saved_long.value==1,1,0)

grouped=ph_saved_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Saving')

# Set labels
plt.xlabel('Proportion With Savings That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch])
plt.show()

In [ ]:
ph_saved=ph_data_means[(ph_data_means.saved==1)]


ph_saved_long=pd.melt(
   ph_saved,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_saving_cols_new
)



ph_saved_long["adj_value"]=np.where(ph_saved_long.value==1,1,0)

grouped=ph_saved_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100
grouped=grouped.sort_values(by=["Proportion"], ascending=False)#.iloc[::-1]


#creating subplots
fig,ax=plt.subplots(figsize=(6,3), dpi=200)

#plotting columns
ax=sns.barplot(x=grouped[grouped.account_fin==1]["Proportion"],y=grouped[grouped.account_fin==1]["variable"],color = color_banked)
ax=sns.barplot(x=grouped[grouped.account_fin==0]["Proportion"],y=grouped[grouped.account_fin==0]["variable"],color = color_unbanked)
 
# Set title
ax.set_title('Means of Saving')

# Set labels
ax.set_xlabel('Proportion With Savings That Used these means')
ax.set_ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
ax.legend(handles=[blue_patch,yellow_patch])

## Means of Borrowing

In [ ]:
ph_borrowed=ph_data_means[(ph_data_means.borrowed==1)]


ph_borrowed_long=pd.melt(
   ph_borrowed,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_borrow_cols_new
)



ph_borrowed_long["adj_value"]=np.where(ph_borrowed_long.value==1,1,0)

grouped=ph_borrowed_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Borrowing')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch])
plt.show()

## Means of Sending Domestic Remittances

In [ ]:
ph_sent_dom_rem=ph_data_means[(ph_data_means.sent_dom_rem==1)]


ph_sent_dom_rem_long=pd.melt(
   ph_sent_dom_rem,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_sdr_cols_new
)



ph_sent_dom_rem_long["adj_value"]=np.where(ph_sent_dom_rem_long.value==1,1,0)

grouped=ph_sent_dom_rem_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Borrowing')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch])
plt.show()

## Means of Receiving Domestic Remittances

In [ ]:
ph_rec_dom_rem=ph_data_means[(ph_data_means.rec_dom_rem==1)]


ph_rec_dom_rem_long=pd.melt(
   ph_rec_dom_rem,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_rdr_cols_new
)



ph_rec_dom_rem_long["adj_value"]=np.where(ph_rec_dom_rem_long.value==1,1,0)

grouped=ph_rec_dom_rem_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Receiving Domestic Remittances')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch])
plt.show()

## Means of Paying Utility Bills

In [ ]:
ph_paid_utils=ph_data_means[(ph_data_means.paid_utils==1)]


ph_paid_utils_long=pd.melt(
   ph_paid_utils,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_pay_utils_cols_new
)



ph_paid_utils_long["adj_value"]=np.where(ph_paid_utils_long.value==1,1,0)

grouped=ph_paid_utils_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Paying Utility Bills')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch], loc='lower right')
plt.show()

## Means of Receiving Wage Payments

In [ ]:
ph_rec_wage=ph_data_means[(ph_data_means.rec_wage==1)]


ph_rec_wage_long=pd.melt(
   ph_rec_wage,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_rec_wages_cols_new
)



ph_rec_wage_long["adj_value"]=np.where(ph_rec_wage_long.value==1,1,0)

grouped=ph_rec_wage_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Receiving Wage Payments')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch], loc='lower right')
plt.show()

## Means of Receiving Government Transfers

In [ ]:
ph_rec_govt_transfer=ph_data_means[(ph_data_means.rec_govt_transfer==1)]


ph_rec_govt_transfer_long=pd.melt(
   ph_rec_govt_transfer,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_govt_transfers_cols_new
)



ph_rec_govt_transfer_long["adj_value"]=np.where(ph_rec_govt_transfer_long.value==1,1,0)

grouped=ph_rec_govt_transfer_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Receiving Wage Payments')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch], loc='lower right')
plt.show()

## Means of Receiving Agricultural Payments (Clustering Idea)

In [ ]:
ph_rec_agri_pay=ph_data_means[(ph_data_means.rec_agri_pay==1)]


ph_rec_agri_pay_long=pd.melt(
   ph_rec_agri_pay,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_agri_pay_cols_new
)



ph_rec_agri_pay_long["adj_value"]=np.where(ph_rec_agri_pay_long.value==1,1,0)

grouped=ph_rec_agri_pay_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Receiving Wage Payments')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch], loc='lower right')
plt.show()

## Means of Receiving Self-Employment Payments (Clustering Idea)

In [ ]:
ph_rec_self_emp_pay=ph_data_means[(ph_data_means.rec_self_emp_pay==1)]


ph_rec_self_emp_pay_long=pd.melt(
   ph_rec_self_emp_pay,
    id_vars=['wpid_random','account_fin'],
    value_vars=means_se_pay_cols_new
)



ph_rec_self_emp_pay_long["adj_value"]=np.where(ph_rec_self_emp_pay_long.value==1,1,0)

grouped=ph_rec_self_emp_pay_long.groupby(["variable","account_fin"]).agg(
    total_with_purpose=('adj_value', 'sum'),
    total_respondents=('wpid_random', 'count')).reset_index()


grouped["Proportion"]=grouped.total_with_purpose/grouped.total_respondents*100.
grouped=grouped.sort_values(by=["Proportion"], ascending=False).iloc[::-1]


plt.figure(figsize=(6,3), dpi=200)

hue_order = [1,0]
sns.barplot(
    data=grouped.loc[::-1], 
    y="variable", 
    x="Proportion",
    hue="account_fin",
    orient="h",
    palette={1: color_banked, 0: color_unbanked},
    hue_order=hue_order
    )


# Set title
plt.title('Means of Receiving Wage Payments')

# Set labels
plt.xlabel('Proportion With Debts That Used these means')
plt.ylabel('-')


blue_patch = mpatches.Patch(color=color_banked, label='Banked')
yellow_patch = mpatches.Patch(color=color_unbanked, label='Unbanked')
plt.legend(handles=[blue_patch,yellow_patch], loc='lower right')
plt.show()

###  Others- Clustering Idea (Retirees)

In [ ]:
philippine_data[philippine_data.fin38==1].account_fin.sum() \
    /philippine_data[philippine_data.fin38==1].wpid_random.count()

In [ ]:
philippine_data[philippine_data.fin38==1].age.mean()

# Means as the Cause for Creating and Account

In [ ]:
philippine_data_4=philippine_data.rename(columns=col_rename_dict_2).rename(columns=col_rename_dict_3)
philippine_data_4.head()

## To Receive Wage Payments

In [ ]:
#fin35-Thinking about the account you use to receive payments from an employer, 
#was it the first account you ever opened, or not?

philippine_data_4[(philippine_data_4.rec_wage==1) & (philippine_data_4.account_fin==1)].fin35.sum() / \
    philippine_data_4[(philippine_data_4.rec_wage==1) & (philippine_data_4.account_fin==1)].wpid_random.count()

In [ ]:
#fin36-Purpose of creating account was to receive wages from employer
philippine_data_4[(philippine_data_4.rec_wage==1) & (philippine_data_4.account_fin==1)].fin36.sum() / \
    philippine_data_4[(philippine_data_4.rec_wage==1) & (philippine_data_4.account_fin==1)].wpid_random.count()

## To Receive Government Transfers

In [ ]:
#fin40-Thinking about the account you use to receive payments from the government, 
#was it the first account you ever opened, or not?

philippine_data_4[(philippine_data_4.rec_govt_transfer==1) & (philippine_data_4.account_fin==1)].fin40.sum() / \
    philippine_data_4[(philippine_data_4.rec_govt_transfer==1) & (philippine_data_4.account_fin==1)].wpid_random.count()

In [ ]:
#fin41-Did you open this account in order to receive payments from the government?
philippine_data_4[(philippine_data_4.rec_govt_transfer==1) & (philippine_data_4.account_fin==1)].fin41.sum() / \
    philippine_data_4[philippine_data_4.rec_govt_transfer==1 & (philippine_data_4.account_fin==1)].wpid_random.count()

## To Receive Agricultural Payment

In [ ]:
#fin44-Thinking about the account you use to receive payments from an employer, 
#was it the first account you ever opened, or not?

philippine_data_4[(philippine_data_4.rec_agri_pay==1) & (philippine_data_4.account_fin==1)].fin44.sum() / \
    philippine_data_4[(philippine_data_4.rec_agri_pay==1) & (philippine_data_4.account_fin==1)].wpid_random.count()

In [ ]:
#fin45-Did you open this account in order to receive these payments?
philippine_data_4[(philippine_data_4.rec_agri_pay==1) & (philippine_data_4.account_fin==1)].fin45.sum() / \
    philippine_data_4[(philippine_data_4.rec_agri_pay==1) & (philippine_data_4.account_fin==1)].wpid_random.count()

# Target Columns EDA

In [ ]:
ph_data_r[target_cols_new].info()

In [ ]:
for count,col in enumerate(ph_data_r[target_cols_new]):
    print(count, ph_data_r[target_cols_new][col].unique())

In [ ]:
df_target=ph_data_r[target_cols_new]
df_target[df_target!= 1] = 0 
df_target.drop(["has_nat_id"], axis=1, inplace=True)
df_target

In [ ]:
print(df_target.account_fin.sum()/len(df_target))
print(df_target.has_debit_card.sum()/len(df_target))
print(df_target.has_credit_card.sum()/len(df_target))
print(df_target.has_mobile_phone.sum()/len(df_target))
print(df_target.has_mobile_money_acc.sum()/len(df_target))

# Clustering

## Renaming Column Names and Values

In [ ]:
#'''
#cluster_data=ph_data_clustered

# Create dictionaries for mapping
educational_group_mapping = {
    1: 'completed primary or less',
    2: 'secondary',
    3: 'completed tertiary or more'
}

income_group_mapping = {
    1:'poorest 20%',
    2:'second 20%',
    3:'middle 20%',
    4:'fourth 20%',
    5:'richest 20%'
}

emp_in_mapping = {
    0: 'Unemployed',
    1: 'Employed'
}

account_fin_mapping = {
    0: 'Unbanked',
    1: 'Banked'
}


debit_card_ownership_mapping = {
    1: 'yes',
    2: 'no',
    4: 'no'
}


credit_card_ownership_mapping = {
    1: 'yes',
    2: 'no',
    3: 'no',
    4: 'no',
}

mobile_phone_ownership_mapping = {
    1: 'yes',
    2: 'no',
    3: 'no',
    4: 'no',
}

mobile_money_acc_ownership_mapping = {
    1: 'yes',
    0: 'no',

}


# Replace values using the mapping
ph_data_clustered = ph_data_clustered.replace(
    {
        'educ': educational_group_mapping,
        'inc_q': income_group_mapping,
        'emp_in': emp_in_mapping,
        'account_fin': account_fin_mapping,
        'has_debit_card': debit_card_ownership_mapping,
        'has_credit_card': credit_card_ownership_mapping,
        'has_mobile_phone': mobile_phone_ownership_mapping,
        'has_mobile_money_acc': mobile_money_acc_ownership_mapping
     }
    )



'''
# Rename column names
cluster_data = cluster_data.rename(
    columns = {
        'educ':'educational_background', 
        'inc_q':'income_group',
        'fin2': 'has debit card'
        }
)
'''

#'''
ph_data_clustered.info()

## Applying K-Modes Clustering

In [ ]:
# Create clustering function
def run_kmodes(n_clusters=None, cluster_data=None):
  # Initialize clustering
  kmodes = KModes(
      init="random",
      n_clusters=n_clusters,
      random_state=42
      )
  
  # Apply clustering to the data
  kmodes.fit(ph_data_clustered)

  # Print intertia
  print(f"Cost for n_clusters = {n_clusters}: {kmodes.cost_}")

  return kmodes.cost_, kmodes.labels_

In [ ]:
# Create container for cost
cost_values = []

In [ ]:
# Run clustering and save inertia to our empty container
for k in range(1, 11):
  # Run our function
  cost, labels = run_kmodes(
    n_clusters=k,
    cluster_data=ph_data_clustered
  )

  # Save cost to our container
  cost_values.append(cost)

## Elbow Plot- N=7 or 5

In [ ]:
# Set figure size
plt.figure(figsize=(6,3)  , dpi=200)

# Plot inertia vs number of clusters
plt.plot(range(1, 11), cost_values)

# Format plot
plt.xticks(range(1, 11))
plt.xlabel("Number of Clusters")
plt.ylabel("Cost")

# Show plot
plt.show()

In [ ]:
n1=4
n2=7

## K-Modes (n1)

In [ ]:
# Run our K-Modes function for n_clusters=4
cost, labels = run_kmodes(
  n_clusters=n1,
  cluster_data=ph_data_clustered
)

In [ ]:
# Append the labels to cluster data
ph_data_clustered['labels'] = labels

In [ ]:
# Inspect the characteristics 
ph_data_clustered.groupby('labels').agg(pd.Series.mode).sort_values(by='account_fin', ascending=True)

__Insight from Clusters__

    - Those in the richest 20%, Employed, and Finished at least a secondary education are mostly banked, have debit cards, and have mobile phones
    
    - Those in the middle and 4th Richest group, even if they are employed, are mostly unbanked, have no debit cards, but they do have mobile phones
    
    - Those in the poorest 20%, have no bank accounts, no credit cards, and no mobile phones
    
    - Across the board, in all income quartiles, education, and employement profiles, there is very little ownership in mobile money accounts and credit cards

In [ ]:
print(ph_data_r["emp_in"].sum()/ph_data_r["emp_in"].count())
print(ph_data_r[ph_data_r.inc_q==1]["emp_in"].sum()/ph_data_r[ph_data_r.inc_q==1]["emp_in"].count())
print(ph_data_r[ph_data_r.inc_q==3]["emp_in"].sum()/ph_data_r[ph_data_r.inc_q==3]["emp_in"].count())

In [ ]:
prop=ph_data_clustered.groupby('labels')[["educ"]].count()
prop["Proportion"]=prop.educ/len(ph_data_clustered)*100
prop.reindex(index = [2,0,1,3])

In [ ]:
# Inspect the characteristics 
#ph_data_clustered.groupby('labels').agg(pd.Series.mean).reindex(index = [1,4,2,6,5,0,3])#.sort_values(by='inc_q', ascending=False)

## K-Modes (n2)

In [ ]:
# Run our K-Modes function for n_clusters=4
cost, labels = run_kmodes(
  n_clusters=n2,
  cluster_data=ph_data_clustered
)

In [ ]:
# Append the labels to cluster data
ph_data_clustered['labels'] = labels

In [ ]:
# Inspect the characteristics 
ph_data_clustered.groupby('labels').agg(pd.Series.mode).sort_values(by='account_fin', ascending=True)

In [ ]:
prop=ph_data_clustered.groupby('labels')[["educ"]].count()
prop["Proportion"]=prop.educ/len(ph_data_clustered)*100
prop.reindex(index = [0,1,2,3,4,5,6])

# Logistic Regression

In [ ]:
ph_data_lr

In [ ]:
print(ph_data_lr['female'].value_counts())
print(ph_data_lr['educ'].value_counts())
print(ph_data_lr['inc_q'].value_counts())
print(ph_data_lr['emp_in'].value_counts())
print(ph_data_lr['has_debit_card'].value_counts())

#ph_data_lr['has_debit_card'] = ph_data_lr['has_debit_card'].replace({4:2})

In [ ]:
ph_data_lr

In [ ]:
from sklearn.feature_selection import chi2


# Separate features and labels
X = ph_data_lr.drop(['female','has_debit_card'],axis=1)
y =ph_data_lr['has_debit_card']


ph_data_lr['has_debit_card'].value_counts()

In [ ]:
# Run chi-square test
chi_scores = chi2(X, y)

# Create a dataframe for mapping p-values to features
p_values = pd.Series(
    chi_scores[1],
    index = X.columns
    )
p_values.sort_values(
    ascending = False, 
    inplace = True
    )

# Display data
p_values

In [ ]:
# Plot p-values per feature
plt.figure(figsize=(6,3)  , dpi=200)

# Run bar plot
plt.bar(
    p_values.index,
    p_values.values
)

# Set title
plt.title('Chi-square test p-values')

# Set labels
plt.xlabel('Feature')
plt.ylabel('p-value')

# Show figure
plt.show()

In [ ]:
# Apply train-test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=0.2, 
    random_state=42
    )

In [ ]:
# Check imbalance
y_train.value_counts()

In [ ]:
# Call the model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(
    random_state=42,
    class_weight='balanced'
    )

# Fit the model
trained_model = model.fit(X_train, y_train)

In [ ]:
# Predict using the trained models
predictions = trained_model.predict(X_test)

# Set the true and predicted values
y_true = y_test
y_pred = predictions


# Display confusion matrix
from sklearn.metrics import confusion_matrix

conf_matrix = confusion_matrix(y_true, y_pred)

plt.figure(figsize=(15,7.5), dpi=80)
plt.title('Confusion matrix')
sns.heatmap(conf_matrix, annot=True, cmap="Blues", fmt="d")
plt.xlabel('Predicted')
plt.ylabel('True')
plt.show()

In [ ]:
# Display evaluation metrics
from sklearn.metrics import classification_report

print(classification_report(y_true, y_pred))

In [ ]:
X_train.head()

## Evaluation of Predictions

### Different Ages- Secondary Educ, Middle 20% Income, Employed

In [ ]:
X.age.mean()

In [ ]:
sample_row=pd.DataFrame( [ [18,2,3,1],
                           [27,2,3,1],
                           [40,2,3,1],
                           [50,2,3,1]
                           
                         
                         ], columns=["age","educ","inc_q","emp_in"] )
trained_model.predict(sample_row)

In [ ]:
sample_row=pd.DataFrame( [ [40,2,3,1],
                           [40,2,3,0],

                           
                         
                         ], columns=["age","educ","inc_q","emp_in"] )
trained_model.predict(sample_row)

In [ ]:
sample_row=pd.DataFrame( [ [40,2,3,1],
                           [40,2,3,0],
                           [40,2,3,0],
                           [40,2,3,0]
                           
                         
                         ], columns=["age","educ","inc_q","emp_in"] )
trained_model.predict(sample_row)